.wraper{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hyouka_body{
    height:90vh;
    padding-top:160px;
}

.hyouka_body h1{
    margin-bottom:30px;
}


.back {
    margin: 10px 15px;
}

.delete{
    margin: 10px 15px;
}

.text{
    width: 700px;
}

.button{
    display: flex;
    margin-top:50px;
}

.hyouka_body td {
    border: 1px solid #333;
    font-size:26px;
    padding:10px;
    line-height:1.5;
}